body {
    width: 50%;
    height: 70%;
    position: absolute;
    background-color: chocolate;
}
.h1 {
    font-size: 20px;
    width: 70%;
    height: 10%;
    left: 65%;
    position: relative;
}
.h2 {
    font-size: 16px;
    position: relative;
    width: 120%;
    left: 45%;
}
.boton {
    width: 10%;
    position: relative;
    left: 90%;
}
.nivel {
    position: relative;
    left: 90%;
}