body {
    width: 100%;
    height: 100%;
    position: absolute;
}
.h1 {
    font-size: 20px;
    width: 40%;
    height: 10%;
    left: 32%;
    position: relative;
}
.h2 {
    font-size: 16px;
    position: relative;
    width: 60%;
    left: 22%;
}
.boton {
    width: 10%;
    position: relative;
    left: 45%;
}
.nivel {
    position: relative;
    left: 45%;
}